.cal-calendar {
    width: 100%;
    height: 100%;
    background-color: #0d3349;
    position: absolute;
}
.cal-date {
    width: 14.285%;
    height: 16.66%;
    background-color: mediumpurple;
    color: #ffffff;
    float: left;
}

.cal-date-text {
    width: 20%;
    height: 20%;
    background-color: #1c94c4;
    font-weight: 100;
    display: table;
    float: left;
    text-align: center;
    line-height: inherit;
}

.cal-date-text > div {
    display: table-cell;
    vertical-align: middle;
}

.cal-event {
    height: 19%;
    margin-bottom: 1%;
    float: left;
}

.cal-event-sm {
    background-color: limegreen;
    width: 20%;
}

.cal-event-md {
    background-color: #CC0000;
    width: 40%;
}

.cal-event-lg {
    background-color: hotpink;
    width: 80%;
}
.cal-event-xl {
    background-color: orange;
    width: 100%;
}