<div data-ng-controller="calendarCtrl" class="cal-calendar">
    <div class="cal-header">
        <div class="navbar-brand text-right">
            <button type="button" class="btn btn-sm btn-default cal-text" data-ng-click="today()" data-ng-cloak><strong>{{ 'tt_today' | translate }}</strong></button>
            <span class="cal-link" data-ng-click="openPicker($event, dp3)"><small>{{currentDay | date:'dd. MM. yyyy'}}</small></span>
            <button type="button" class="btn btn-sm btn-default cal-text" data-ng-click="move(-1)" data-ng-cloak>
                <i class="glyphicon glyphicon-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-sm btn-default cal-text" data-ng-click="move(1)" data-ng-cloak>
                <i class="glyphicon glyphicon-chevron-right"></i>
            </button>

            <div class="navbar-right cal-nav-dropdown" dropdown is-open="status.isopen">
                <button type="button" class="btn btn-sm btn-default cal-text" dropdown-toggle data-ng-cloak>
                    <i class="glyphicon glyphicon-cog"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li class="text-center">
                        <button type="button" class="btn btn-sm btn-default cal-text" data-ng-click="changeLanguage('en')" data-ng-cloak>
                            <strong>EN</strong>
                        </button>
                        <button type="button" class="btn btn-sm btn-default cal-text" data-ng-click="changeLanguage('de')" data-ng-cloak>
                            <strong>DE</strong>
                        </button>
                        <button type="button" class="btn btn-sm btn-default cal-text" data-ng-click="changeLanguage('sr')" data-ng-cloak>
                            <strong>SR</strong>
                        </button>
                    </li>
                </ul>
            </div>

        </div>
        <div class="text-right">
            <datepicker data-ng-model="currentDay" show-weeks="false" data-ng-show="dp3.opened" class="well well-sm"  style="display: inline-block"></datepicker>
        </div>
    </div>
    <div class="cal-body">
        <div ng-repeat="day in days"
             ng-click="openDialog($event, day)"
             class="cal-date {{day.isCurrentMonth? '' : 'cal-not-current-month hidden-sm hidden-xs'}}">
            <div class="cal-date-text">
                <div>{{day.d}}</div>
            </div>
            <div ng-repeat="event in day.events"
                 ng-click="openDialog($event, day, event)"
                 class="cal-event"
                 cal-event=""
                 data-cal-attr-index="$index"
                 data-cal-attr-total="day.events.length"
                 data-ng-style="{'background-color': event.colors.light, 'border-color': event.colors.dark}">

            </div>
        </div>
    </div>
    <div class="cal-footer  hidden-sm hidden-xs">
        <div class="navbar-brand text-center">
            <button type="button" ng-repeat="month in months" class="btn btn-md {{currentMonthIndex == $index? 'btn-primary' : 'btn-default'}}" data-ng-click="changeMonth($index)" data-ng-cloak>
                {{month | translate}}
            </button>
        </div>
    </div>

    <div class="cal-footer  hidden-md hidden-lg">
        <div class="navbar-brand text-center">
            <button type="button" class="btn btn-sm btn-default cal-text pull-left" data-ng-click="moveToMonth(-1)" data-ng-cloak>
                <i class="glyphicon glyphicon-chevron-left"></i>
            </button>

            <button type="button" class="btn btn-sm {{currentMonthIndex == monthIndex? 'btn-primary' : 'btn-default'}}" data-ng-click="changeMonth(monthIndex)" data-ng-cloak>
                {{currentMonth | translate}}
            </button>

            <button type="button" class="btn btn-sm btn-default cal-text pull-right" data-ng-click="moveToMonth(1)" data-ng-cloak>
                <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
        </div>
    </div>
</div>